.edit {
    display: flex;
    width: auto;
    height: auto;
    min-height: 400px;
    min-width: 600px;
}

.editPage {
    border-radius: 5px;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contTop {
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.contacts {
    background-color: rgb(39, 39, 39);
    height: 90vh;
    width: auto;
    padding-bottom: 1vh;
}

.containerM {
    display: flex;
}

.about {
    padding-left: 15vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

.homeImg {
    padding-right: 13vw;
    float: right;
}

.bar {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 10vh;
}

.barItem {
    float: left;
    display: block;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cont:link {
    color: rgb(39, 39, 39);;
}

.cont:hover {
    color: rgb(191, 185, 185)
}

textarea {
    white-space: nowrap;
    overflow:    scroll;
    overflow-y:  hidden;
    overflow-x:  scroll;
    overflow:    -moz-scrollbars-horizontal;
}

