.login {
    display: grid;
    border: 4px solid black;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 16px;
    margin: 50px;
    margin-top:100px;
    margin-left: 250px;
    margin-right: 250px;
    min-width: 500px;
    border-radius: 50px;
  }

.textBoxes {
    height:30px; 
    margin-bottom: 3px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.labels {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 6px;
  margin-top: 8px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 40px;;
  height:50px; 
}

.button:hover {
  opacity: 0.8;
}

.footer {
    border: none;
    bottom: 0;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 16px;
    min-width: 500px;
}

.minilabels {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}